@charset "UTF-8";
/* Обнуляющий ксс */
@import url(null.css);
* {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font: italic small-caps bold 24px/2 cursive;
  text-shadow: 0px 4px 3px rgba(206, 171, 157, 0.418);
  color: coral;
}
*:focus {
  outline: none;
}

body {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: url("../img/mainBG.jpg") 0 0/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainWindow {
  max-width: 1024px;
  position: absolute;
  /* transition-duration: 1s;
  opacity: 0; */
}

.loadingWindow {
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: url("../img/loadingBG.jpg") 0 0/100% 100% no-repeat;
  padding-bottom: 80%;
  text-shadow: 0px 4px 3px rgba(141, 104, 89, 0.726);
  color: rgb(211, 86, 41);
}

.menuWindow {
  /* display: flex; */
  display: none;
  width: 100%;
  height: 100%;
  background: url("../img/menuBG.jpg") 0 0/100% 100% no-repeat;
  position: relative;
}
.menuWindow .btn {
  position: absolute;
  height: 10%;
  width: 15%;
  transition-duration: 0.6s;
}
.menuWindow .btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.menuWindow .btn.btnSelectLvl {
  background: url("../img/btnPlayBG.png") 0 0/100% 100% no-repeat;
  left: 40%;
  top: 68%;
  height: 13%;
  width: 20%;
}
.menuWindow .btn.btnSoundVolumeChange {
  background: url("../img/btnSoundOnBG.png") 0 0/100% 100% no-repeat;
  left: 1%;
  bottom: 12%;
}
.menuWindow .btn.btnMusicVolumeChange {
  background: url("../img/btnMusicOnBG.png") 0 0/100% 100% no-repeat;
  left: 1%;
  bottom: 1%;
}
.menuWindow .btn.btnHelp {
  background: url("../img/btnHelp.png") 0 0/100% 100% no-repeat;
  right: 1%;
  bottom: 1%;
}

.lvlMapWindow {
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.lvlMapWindow .subWindow {
  position: relative;
  max-width: 600px;
  width: 96%;
  height: 65%;
  background: url("../img/windowBG_4.png") 0 0/100% 100% no-repeat;
  padding: 60px 5.5% 1.5% 6.5%;
}
.lvlMapWindow .subWindow .wrapLvls {
  padding-top: 4%;
  height: 80%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: scroll;
}
@media screen and (min-device-width: 374px) {
  .lvlMapWindow .subWindow .wrapLvls {
    gap: 5%;
  }
}
@media screen and (min-device-width: 525px) {
  .lvlMapWindow .subWindow .wrapLvls {
    gap: 10%;
  }
}
.lvlMapWindow .subWindow .wrapLvls .lvl {
  position: relative;
  /* flex: 1 1 auto; */
  width: 90px;
  height: 90px;
  background: url("../img/closeLvlBG.png") 0 0/100% 100% no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lvlMapWindow .subWindow .wrapLvls .lvl .stars {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.lvlMapWindow .subWindow .wrapLvls .lvl .stars .star {
  background: url("../img/star.png") 0 0/100% 100% no-repeat;
  height: 90%;
  width: 25%;
}
.lvlMapWindow .subWindow .wrapLvls .lvl .stars .star.star_1 {
  margin-top: 5%;
}
.lvlMapWindow .subWindow .wrapLvls .lvl .stars .star.star_2 {
  margin-bottom: 5%;
}
.lvlMapWindow .subWindow .wrapLvls .lvl .stars .star.star_3 {
  margin-top: 5%;
  opacity: 0.3;
}
.lvlMapWindow .subWindow .wrapLvls .lvl .number {
  color: lightblue;
  -webkit-text-stroke: 2px blue;
  font-size: 36px;
}
.lvlMapWindow .subWindow .wrapLvls .lvl .inform {
  position: absolute;
  transition-duration: 2.5s;
  font-size: 14px;
  display: none;
  left: 40%;
  top: 0;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(141, 104, 89, 0.726);
  color: rgb(211, 86, 41);
}
.lvlMapWindow .subWindow .header {
  position: absolute;
  width: 100%;
  height: 20%;
  top: -5%;
  left: 0;
  background: url("../img/headerBG_1.png") 0 0/100% 100% no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lvlMapWindow .subWindow .header .headerText {
  font-size: 32px;
  margin-bottom: 10%;
  text-shadow: 0px 4px 3px rgba(206, 171, 157, 0.418);
  color: coral;
}
.lvlMapWindow .subWindow .btnBackToMenu {
  position: absolute;
  width: 15%;
  height: 15%;
  bottom: 9%;
  left: 4%;
  background: url("../img/btnBackBG.png") 0 0/100% 100% no-repeat;
  transition-duration: 0.6s;
}
.lvlMapWindow .subWindow .btnBackToMenu:hover {
  transform: scale(1.3);
}

.helpWindow {
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.helpWindow .subWindow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 640px;
  width: 96%;
  height: 65%;
  background: url("../img/windowBG_4.png") 0 0/100% 100% no-repeat;
  padding: 14% 7% 20% 5%;
}
.helpWindow .subWindow .header {
  position: absolute;
  width: 100%;
  height: 20%;
  top: -5%;
  left: 0;
  background: url("../img/headerBG_1.png") 0 0/100% 100% no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.helpWindow .subWindow .header .headerText {
  font-size: 32px;
  margin-bottom: 10%;
}
.helpWindow .subWindow .helpText {
  font-size: 14px;
  width: 100%;
  height: 100%;
  padding: 4%;
  overflow-y: scroll;
}
.helpWindow .subWindow .btnBackToMenu {
  position: absolute;
  width: 15%;
  height: 15%;
  bottom: 9%;
  left: 4%;
  background: url("../img/btnBackBG.png") 0 0/100% 100% no-repeat;
  transition-duration: 0.6s;
}
.helpWindow .subWindow .btnBackToMenu:hover {
  transform: scale(1.3);
}

.gameWindow {
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: url("../img/lvlBG1.jpg") 0 0/100% 100% no-repeat;
}
.gameWindow .UI {
  height: 100px;
  width: 100%;
}
.gameWindow .UI.topUI {
  flex: 0 1 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 10px; */
  z-index: 0;
}
.gameWindow .UI.topUI .progressBar {
  margin-top: 45px;
  position: relative;
  max-width: 400px;
  width: 85%;
  height: 30px;
  background-color: rgba(240, 128, 128, 0.801);
  z-index: 2;
  border-radius: 50px;
}
.gameWindow .UI.topUI .progressBar .bar {
  height: 100%;
  width: 0%;
  background: linear-gradient(rgb(255, 102, 46), coral);
  border-radius: 50px;
  transition-duration: 1s;
  z-index: 3;
}
.gameWindow .UI.topUI .progressBar .popUpPoints {
  position: absolute;
  top: -10%;
  left: 0%;
  font-size: 24px;
  color: coral;
  transition-duration: 1.5s;
  z-index: 1;
  opacity: 0;
}
.gameWindow .UI.topUI .progressBar .star {
  display: inline-block;
  top: -38px;
  width: 40px;
  height: 40px;
  background: url("../img/star.png") 0 0/100% 100% no-repeat;
  position: absolute;
  opacity: 0.3;
  transition-duration: 0.5s;
}
.gameWindow .UI.topUI .progressBar .star.star_1 {
  left: 22%;
}
.gameWindow .UI.topUI .progressBar .star.star_2 {
  left: 56%;
}
.gameWindow .UI.topUI .progressBar .star.star_3 {
  left: 90%;
}
.gameWindow .UI.topUI .taskBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 65%;
  height: 60%;
  transition-duration: 1s;
  border-bottom: dashed 1px lightcoral;
}
.gameWindow .UI.topUI .taskBlock .taskText {
  text-shadow: 0px 4px 3px rgba(194, 146, 128, 0.699);
  color: rgb(209, 107, 70);
}
.gameWindow .UI.topUI .taskBlock .taskList {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5%;
}
@media screen and (max-device-width: 700px) {
  .gameWindow .UI.topUI .taskBlock .taskList {
    gap: 14%;
  }
}
.gameWindow .UI.topUI .taskBlock .taskList .taskItem {
  width: 40px;
  height: 40px;
  background-color: brown;
  left: 50px;
  top: 500px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
  transition-duration: 0.5s;
}
.gameWindow .UI.topUI .taskBlock .taskList .taskItem .taskItemText {
  font-size: 16px;
  padding-left: 105%;
}
.gameWindow .UI.botUI {
  flex: 0 1 10%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  z-index: 0;
  border-top: dashed 0.5px coral;
}
.gameWindow .UI.botUI .btnRestart {
  max-height: 80px;
  max-width: 80px;
  height: 80%;
  width: 30%;
  background: url("../img/btnRestart.png") 0 0/100% 100% no-repeat;
  transition-duration: 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.gameWindow .UI.botUI .btnBackToMenu {
  max-height: 80px;
  max-width: 80px;
  height: 80%;
  width: 30%;
  background: url("../img/btnToMenu.png") 0 0/100% 100% no-repeat;
  transition-duration: 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.gameWindow .gameField {
  position: relative;
  /* border: solid 1px grey; */
  /* background-color: aqua; */
}
.gameWindow .gameField .rock {
  width: 100%;
  height: 100%;
  background: url("../img/bubble_1.png") 0 0/100% 100% no-repeat;
  background: url("../img/bubble_2.png") 0 0/100% 100% no-repeat;
  background: url("../img/bubble_3.png") 0 0/100% 100% no-repeat;
  background: url("../img/bubble_4.png") 0 0/100% 100% no-repeat;
  position: absolute;
  left: 50px;
  top: 500px;
  border-radius: 50%;
  transition-duration: 0.4s;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.gameWindow .lvlInform {
  position: absolute;
  left: 30%;
  top: -50%;
  height: 200px;
  width: 40%;
  background-color: aqua;
  text-align: center;
  transition-duration: 4s;
}

.gameOverWindow {
  z-index: 1;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: transparent;
}
.gameOverWindow .subWindow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  max-width: 380px;
  width: 80%;
  height: 65%;
  padding: 10% 5% 5% 3%;
  background: url("../img/resultWindowBG_1.png") 0 0/100% 100% no-repeat;
}
.gameOverWindow .subWindow .resultSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex: 0 1 70%;
  width: 100%;
}
.gameOverWindow .subWindow .resultSection .stars {
  flex: 0 1 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.gameOverWindow .subWindow .resultSection .stars .star {
  background: url("../img/emptyStar.png") 0 0/100% 100% no-repeat;
  height: 75%;
  width: 32%;
}
.gameOverWindow .subWindow .resultSection .stars .star.star_1 {
  margin-top: 10%;
}
.gameOverWindow .subWindow .resultSection .stars .star.star_2 {
  margin-bottom: 10%;
}
.gameOverWindow .subWindow .resultSection .stars .star.star_3 {
  margin-top: 10%;
}
.gameOverWindow .subWindow .resultSection .score {
  flex: 0 1 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.gameOverWindow .subWindow .resultSection .score .scoreText {
  flex: 0 1 30%;
  font-size: 20px;
}
.gameOverWindow .subWindow .resultSection .score .scoreCount {
  flex: 0 1 70%;
  background: url("../img/windowBG_2.png") 0 0/100% 100% no-repeat;
  height: 10%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  color: rgb(252, 101, 46);
}
.gameOverWindow .subWindow .btnSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex: 0 1 30%;
}
.gameOverWindow .subWindow .btnSection .btn {
  height: 60%;
  width: 25%;
  font-size: 18px;
  transition-duration: 0.6s;
}
.gameOverWindow .subWindow .btnSection .btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.gameOverWindow .subWindow .btnSection .btn.btnBackToMenu {
  background: url("../img/btnToMenu.png") 0 0/100% 100% no-repeat;
}
.gameOverWindow .subWindow .btnSection .btn.btnRestart {
  background: url("../img/btnRestart.png") 0 0/100% 100% no-repeat;
}
.gameOverWindow .subWindow .btnSection .btn.btnNextLvl {
  background: url("../img/btnNextLock.png") 0 0/100% 100% no-repeat;
  background: url("../img/btnNext.png") 0 0/100% 100% no-repeat;
  position: relative;
}
.gameOverWindow .subWindow .btnSection .btn.btnNextLvl .inform {
  position: absolute;
  transition-duration: 2.5s;
  font-size: 14px;
  display: none;
  left: 50%;
  top: 0;
}
.gameOverWindow .subWindow .header {
  background: url("../img/headerBG_1.png") 0 0/100% 100% no-repeat;
  position: absolute;
  top: -8%;
  left: 1%;
  width: 96%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
  text-shadow: 0px 4px 3px rgba(206, 171, 157, 0.418);
  color: red;
}

.btn {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn:focus {
  outline: none;
}/*# sourceMappingURL=main.css.map */